node_modules/
.expo/
.firebase/
.dfx/
src/etc/*
dist/
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/
dfx-build/
dockerToken
dockerTarget
dockerUsername
canister_ids.json

# macOS
.DS_Store
